.navbar-header {
    background-color: white;
    width: 100%;
}

.icon-bar {
    background-color: white;
}

#logo a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 50px;
}

#menu li a {
    margin-top: 20px;
    font-size: 20px;
    color: black;
    display: block;
    height: 50px;
}

#menu a:hover {
    color: blue;
    border-radius: 10px;
    border: 2px solid blue;
}

.upper-body {
    text-align: center;
    margin-top: 70px;
    height: 500px;
    padding-top: 150px;
    font-family: 'Gochi Hand', cursive;
    color: blue;
}

.about-me {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2.5em;
    line-height: 5vh;
    text-align: center;
    height: 500px;
    padding-top: 150px;
    display: none;
    margin-top: 70px;
}

.education {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2.5em;
    line-height: 5vh;
    text-align: center;
    height: 500px;
    padding-top: 150px;
    color: white;
    display: none;
    margin-top: 70px;
}

.contact {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2.5em;
    line-height: 5vh;
    text-align: center;
    height: 500px;
    padding-top: 150px;
    margin-top: -500px;
    display: none;
}

.theWords {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 2.5em;
    line-height: 5vh;
    text-align: center;
    height: 500px;
    padding-top: 150px;
    display: none;
}

.footer {
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding-top: 60px;
}